.card-slider {
  display: flex;
  background-color: #ebebeb;
  height: 30rem;

  &__live {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    z-index: 2;
    background-color: $color-vivid-red;
    color: $color-white;

    a {
      font-weight: 700;
      color: $color-white;
    }
  }

  &__length {
    z-index: 2;
    position: absolute;
    bottom: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    right: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgba($color-primary, 0.7);
    color: $color-white;

    a {
      font-weight: 700;
      opacity: 1;

      color: $color-white;
    }
  }

  &__overlay {
    width: 100%;
    height: 0%;
    background-color: $color-dark-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__header {
    min-width: 50%;
    position: relative;

    &:hover .card-slider__overlay {
      animation: fadeIn 0.5s ease;
      animation-fill-mode: forwards;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    padding: 1rem;
    min-width: 50%;

    p {
      color: $color-dark-grey;
      font-size: 1.2rem;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  &__left {
    margin-right: 2rem;
    min-width: 3.5rem;

    img {
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
    }
  }

  &__right {
    text-overflow: ellipsis;

    h2 {
      margin-bottom: 0.5rem;
      a {
        color: $color-dark-grey;
        transition: all 0.3s ease;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 15rem;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  &__channel {
    color: $color-dark-grey-2;
  }

  svg {
    fill: $color-white;
  }
}
