.card-video {
  background-color: white;

  &__live {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    z-index: 2;
    background-color: $color-vivid-red;
    color: white;

    a {
      font-weight: 700;
      color: white;
    }
  }

  &__length {
    z-index: 2;
    position: absolute;
    bottom: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    right: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgba($color-primary, 0.7);
    color: $color-white;

    a {
      font-weight: 700;
      opacity: 1;

      color: white;
    }
  }

  &__overlay {
    width: 100%;
    height: 0%;
    background-color: $color-dark-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__header {
    height: 20rem;
    margin-bottom: 2rem;
    position: relative;

    &:hover .card-video__overlay {
      animation: fadeIn 0.5s ease;
      animation-fill-mode: forwards;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    display: flex;
    align-items: flex-start;
  }

  &__left {
    margin-right: 2rem;

    img {
      display: inline-block;
      background-color: $color-grey;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }

  &__right {
    width: 50%;
    text-overflow: ellipsis;

    h2 {
      a {
        color: $color-dark-grey;
        transition: all 0.3s ease;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  &__title {
    margin-bottom: 0.5rem;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 30rem;
  }

  &__channel {
    color: $color-dark-grey-2;
    font-size: 1.2rem;
  }

  svg {
    fill: $color-white;
  }

  &__icon {
    margin-left: auto;

    svg {
      width: 2rem;
      height: 2rem;
      transition: all 0.3s ease;
      fill: $color-dark-grey;

      &:hover {
        fill: $color-primary;
      }
    }
  }
}
