.input {
  padding: 0.8rem 0.8rem 0.8rem 2.4rem;
  border: 1px solid #e0e0e0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 21px;
  border-radius: 0 3.2rem 3.2rem 0;
  color: $color-dark-grey-2;

  transition: all 0.3s ease;

  &::placeholder {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 21px;
  }

  &:hover {
    &::placeholder {
      color: $color-dark-grey-2;
    }
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: #f4f4f4;

    &::placeholder {
      color: #dcdcdc;
    }
  }
}
