.tags {
  margin-bottom: 2rem;
  overflow-x: scroll;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    min-width: max-content;
    font-size: 1.5rem;
    padding: 0.5rem 2em;
    border-radius: 20rem;
    border: 1px solid $color-grey;
    transition: all 0.3s ease;
    color: $color-dark-grey;

    &:first-child {
      color: $color-white;
      background-color: $color-primary;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      background-color: $color-grey;
    }
  }
}
