@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-family;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

svg {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $color-dark-grey;
  transition: all 0.3s ease;

  &:hover {
    fill: $color-primary;
  }
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 110, 102, 0.5);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0%;
  }

  100% {
    opacity: 0.8;
    height: 100%;
  }
}
