.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: $color-white;
  width: 100%;
  height: 10vh;
  padding: 0 1rem;
  z-index: 100;

  &__logo {
    display: flex;
    align-items: center;

    img {
      width: 6rem;
    }

    a {
      font-size: 3rem;
      color: $color-primary;
    }
  }

  &__search {
    display: flex;
    width: 30%;
    align-items: center;

    input {
      width: 100%;
      padding-right: 4rem;

      &:focus {
        border: 0.2rem solid $color-primary;
      }
    }

    button {
      position: relative;
      left: -4rem;
      display: inline-block;
      padding: 0.1rem 1rem;
      background-color: $color-primary;
      color: $color-white;
      border-radius: 0 2.8rem 2.8rem 0;

      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $color-dark-blue;
        color: $color-white;
      }

      &:active {
        background-color: $color-dark-blue-2;
        color: $color-white;
      }

      svg {
        width: 1.5rem;
        fill: $color-white;
      }
    }
  }

  &__profile {
    display: flex;
    align-items: center;

    svg {
      width: 3rem;
      height: 3rem;
      fill: $color-dark-grey;
      transition: all 0.3s ease;

      &:hover {
        fill: $color-primary;
      }
    }

    img {
      margin-left: 2rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      position: relative;
    }

    .header__settings {
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 6.25rem;
      width: 15rem;
      height: fit-content;
      transform: translateY(-10px);
      opacity: 0;
      background-color: white;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      transition: all 0.4s ease;
      pointer-events: none;
    }

    .header__settings li {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: all 0.3s ease;

      &:last-child {
        border-top: 1px solid $color-dark-grey-2;

        a {
          color: $color-vivid-red;
        }

        svg {
          fill: $color-vivid-red;
        }
      }
    }

    .header__settings li a {
      width: 90%;
      height: 100%;
      padding-left: 2rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 3rem;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      color: $color-dark-grey;

      &:hover {
        color: $color-primary;
      }

      &:hover svg {
        fill: $color-primary;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-dark-grey;
        margin-right: 1rem;
      }
    }

    .header__settings li:hover {
      background-color: #ececec;
    }

    a:hover + .header__settings,
    .header__settings:hover {
      display: flex;
      opacity: 1;
      transform: translateY(0px);
      pointer-events: all;
    }
  }
}

.main {
  display: flex;
}

.aside {
  height: 90vh;
  position: sticky;
  top: 10vh;
  width: 25rem;
  background-color: #ebebeb;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;

  &__live {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: $color-vivid-red;
    animation: pulse 2s ease infinite;
  }

  &__items {
    overflow: auto;

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: $color-primary;
    }
  }

  &__item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__name {
    display: flex;

    align-items: center;

    img {
      margin-right: 1rem;
      width: 3rem;
      background-color: $color-grey-2;
      border-radius: 50%;
    }

    span {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 10rem;
    }
  }

  &__socials-container {
    border-top: 0.1rem solid $color-white;
    padding: 1rem;
    margin-top: auto;
  }

  &__socials {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: #dfdfdf;

    span {
      display: inline-block;
      font-size: 1.6rem;
      color: $color-dark-grey;
      text-align: center;
      margin-bottom: 1rem;

      &::selection {
        background-color: $color-orange;
        color: $color-white;
      }
    }
  }

  &__social-links {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    width: 60%;

    .facebook-icon:hover {
      fill: #1877f2;
    }

    .telegram-icon:hover {
      fill: #28a4e4;
    }

    .twitter-icon:hover {
      fill: #1a91da;
    }

    svg {
      transition: all 0.3s ease;
      fill: $color-dark-grey;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  &__slider {
    display: block;
    height: 26rem;
    margin-bottom: 10rem;
    margin-top: 5rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    gap: 2rem;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .footer {
    padding: 0 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    span {
      font-size: 2rem;
      font-weight: 600;
      margin-right: 2rem;
    }

    svg {
      fill: $color-dark-grey;

      &:hover {
        fill: $color-primary;
      }
    }
  }
}
