@media screen and (max-width: 1200px) {
  .aside {
    width: fit-content;

    &__name {
      display: flex;
      align-items: center;

      span {
        display: none;
      }

      img {
        width: 5rem;
        margin: 0 auto;
      }
    }

    &__stats {
      display: none;
    }

    &__socials-container {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  #slider label {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .header {
    flex-wrap: wrap;

    &__search {
      display: none;
    }
  }

  .content {
    &__slider {
      display: none;
    }

    &__cards {
      grid-template-columns: 100%;
    }
  }
}
