// FONT
$font-family: 'Inter', sans-serif;

// COLOURS

// Primary colours
$color-primary: #0d86ff;

// Secondary colours
$color-blue-2: #329ab1;
$color-dark-blue: #005bb6;
$color-dark-blue-2: #00458a;
$color-vivid-red: #ff6e66;
$color-orange: #f59c4a;
$color-white: #ffffff;
$color-dark-grey: #3a3a3a;
$color-dark-grey-2: #92939b;
$color-grey: #dcdcdc;
$color-grey-2: #cecece;
